<div class="wave">
  <svg viewBox="0 0 1440 300">
    <path fill="#C38559" fill-opacity="1" d="M0,288L30,272C60,256,120,224,180,224C240,224,300,256,360,245.3C420,235,480,181,540,154.7C600,128,660,128,720,138.7C780,149,840,171,900,192C960,213,1020,235,1080,218.7C1140,203,1200,149,1260,128C1320,107,1380,117,1410,122.7L1440,128L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
  </svg>
</div>
<footer>
  <div class="footer flex-col md:flex-row">
    <div class="lg:w-1/4 px-8">
      <h3 class="text-2xl xl:text-4xl pb-4">Khepri</h3>
      <div class="flex w-full text-4xl">
        <p class="pb-4"><span class="icon-[mdi--instagram]" role="img" aria-hidden="true"></span></p>
        <p class="pb-4"><span class="icon-[mdi--facebook]" role="img" aria-hidden="true"></span></p>
      </div>
      <p class="xl:text-2xl pb-4">FAQ</p>
      <p class="xl:text-2xl pb-4">política de privacidad</p>
      <p class="xl:text-2xl pb-4">Condiciones de uso</p>
      <p class="xl:text-2xl pb-4">Declaración de accesibilidad</p>
    </div>
    <div class="lg:w-1/4 px-8">
      <p class="text-xl xl:text-4xl pb-4">Contacto y Horarios</p>
      <p class="xl:text-2xl pb-4">Mon - Fri: 6:30 am - 5 pm</p>
      <p class="xl:text-2xl pb-4">Sat - Sun: 7 am - 4 pm</p>
      <p class="xl:text-2xl pb-4">4650 N. Kedzie Ave</p>
      <p class="xl:text-2xl pb-4">(011) 346292-38</p>
      <div class="btn border-2 p-3 rounded-xl w-44">
        <a href="#">realizar pedido</a>
      </div>
    </div>
    <div class="lg:w-1/2 px-8">
      <p class="text-xl xl:text-4xl pb-4">Salgamos</p>
      <p class="xl:text-2xl pb-4">¡Sé el primero en enterarte de los elementos del menú de temporada, los próximos eventos y las ofertas especiales!</p>
      <input type="email" class="block w-full rounded-md border-0 py-3 pl-7 my-8 pr-14 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Email">
      <div class="btn border-2 p-4 rounded-xl w-44">
        <a href="#">Suscribir</a>
      </div>
      <p class="pb-4">We respect your privacy, won’t sell your info, and won’t send you spam.</p>
    </div>
  </div>
  <div class="bg-black text-white text-center py-4 w-full">
    <p>&copy; 2024 Meichtech. Todos los derechos reservados.</p>
  </div>
</footer>
