<div class="my-16 mb-32 mx-8">
  <h2 class="text-center text-5xl">Disfrutá de buena compañía con comida y bebida preparada con amor.</h2>
</div>
<img src="../../../assets/img/front+counter+and+retail.jfif" alt="portada">
<section class="flex flex-col md:flex-row p-8 lg:p-32 lg:h-svh">
  <div class="lg:w-1/2 px-8">
    <p class="xl:text-2xl pb-4">Panza llena corazón contento</p>
    <p class="text-lg sm:text-2xl xl:text-4xl pb-4">Las personas se unen de manera genuina durante la comida en todo el mundo. Nuestra filosofía es que la comida que la gente consume debe ser preparada con cuidado. Por eso, hacemos todo desde cero nosotros mismos.</p>
    <div class="btn border-2 py-2 rounded-xl w-44" style="margin-top: auto;">
      <a href="#">Ver nuestro menu</a>
    </div>
  </div>
  <div class="lg:w-1/2 h-full">
    <img src="../../../assets/img/Khepri+Cafe0662-Edit.jpg" alt="image1" class="object-cover h-full w-full">
  </div>
</section>
<section class="flex flex-col md:flex-row-reverse p-8 lg:p-32 lg:h-svh">
  <div class="lg:w-1/2 px-8">
    <p class="xl:text-2xl pb-4">Conéctese con la comunidad.</p>
    <p class="text-lg sm:text-2xl xl:text-4xl pb-4">Nuestra tienda es algo más que buena comida y bebida. Conocer a alguien para tomar un café podría ser el comienzo de una estrecha amistad. Aprender a crear obras de arte en collage podría desbloquear una pasión. Todo esto y más sucede aquí.</p>
    <div class="btn border-2 p-4 rounded-xl w-44" style="margin-top: auto;">
      <a href="#">Explorar eventos</a>
    </div>
  </div>
  <div class="lg:w-1/2 h-full">
    <img src="../../../assets/img/cozy+reading+corner.jpeg" alt="image1" class="object-cover h-full w-full">
  </div>
</section>
<div class="w-full h-full p-8 md:p-16 xl:p-32 container">
  <img src="../../../assets/img/Khepri+Cafe0539-Edit.jpg" alt="image1" class="object-cover h-full w-full">
  <div class="text-overlay text-nowrap">Esperamos verte pronto</div>
</div>
